# Essential Blaze-Pandas-XRay-Toolz

Python offers several packages for data manipulation. Learning all of them can be very time-consuming. Besides, it may be unnecessary. Some capabilities overlap among two or more packages. Certain capabilities are "good to know" but not used often. This short guide has two goals:

    - helping the reader write clean, efficient code in python
    
    - provide a starting point to help the reader learn additional constructs, which inevitably present themselves in other people's code.

## Preliminaries

In [57]:
# preliminaries
import numpy as np
import blaze as bl
import toolz as tz
import pandas as pd
import xray as xr

## Data Frames
In spite of their apparent simplicity, tabular data (or data frames) offer a dizzying array of choices (pun intended). Pandas is the main package that implements tabular data in memory in python. In pandas columns must have the same type, but otherwise rows and columns are treated almost symmetrically. One can query by row index, but also by column index. Columns indices can be interpreted as _values_. When the table columns have all the same type, the symmetry is nearly complete. In this case, one can use function on the data that "align" two or more table across rows, columns, or both.

Rather than embrace this flexible but complex approach, we take an opinionated approach. Data frames must be _tidy_: columns are variables, and rows are observations, in which the variable takes a particular value.

In [71]:
# reading data/converting data
# tool chosen: blaze/pandas



# From dictionary
m = {'city': ['Rome', 'New York', 'Moscow'], 
     'continent': ['Europe', 'America', 'Europe'], 
     'inhabitants': [8.4e6, 2.8e6, 11.5e6]}
DF = pd.DataFrame(m)
print(m)
print(DF)

# from recarray
m = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])
m[:] = [(1,2.,'Hello'),(2,3.,"World")]
DF = pd.DataFrame(m)
print(m)
print(DF)

# from ndarray
m = np.arange(12.).reshape((3, 4))        
DF = pd.DataFrame(m, columns=['a', 'b', 'c', 'd'])
print(m)
print(DF)

# from file
DF = pd.read_csv('~/dropbox/gapgit/pandas_dplyr/diamonds.csv')
DF.head(6)

{'inhabitants': [8400000.0, 2800000.0, 11500000.0], 'continent': ['Europe', 'America', 'Europe'], 'city': ['Rome', 'New York', 'Moscow']}
       city continent  inhabitants
0      Rome    Europe      8400000
1  New York   America      2800000
2    Moscow    Europe     11500000
[(1, 2.0, b'Hello') (2, 3.0, b'World')]
   A  B         C
0  1  2  b'Hello'
1  2  3  b'World'
[[  0.   1.   2.   3.]
 [  4.   5.   6.   7.]
 [  8.   9.  10.  11.]]
   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9     65    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3     58    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8     57    336  3.94  3.96  2.48

### Selecting or Unselecting Columns

In [77]:
# selecting columns
DF2 = DF.copy()
print(DF2['carat'].head(6))

print(DF2[['carat','color']].head(6))

# getting column names. This returns an index object
print(DF2.columns)
DF2.columns[[1,2]]
# also possible to assign columns
DF2.columns = [x.upper() for x in DF.columns]
# you can't subset individual column names and subset them

0    0.23
1    0.21
2    0.23
3    0.29
4    0.31
5    0.24
Name: carat, dtype: float64
   carat color
0   0.23     E
1   0.21     E
2   0.23     E
3   0.29     I
4   0.31     J
5   0.24     J
Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [50]:
# deleting one or more column
DF2 = DF.copy()
DF2 = DF2.drop(['carat','cut'], axis=1)
DF2.head(6)

  color clarity  depth  table  price     x     y     z
0     E     SI2   61.5     55    326  3.95  3.98  2.43
1     E     SI1   59.8     61    326  3.89  3.84  2.31
2     E     VS1   56.9     65    327  4.05  4.07  2.31
3     I     VS2   62.4     58    334  4.20  4.23  2.63
4     J     SI2   63.3     58    335  4.34  4.35  2.75
5     J    VVS2   62.8     57    336  3.94  3.96  2.48

### Selecting Rows

In [54]:
# selecting rows
# note the ix method
print(DF.clarity.head(6))
print(DF.ix[DF.price > 330].head(6)) # boolean
DF2 = DF.ix[[x in ['SV1', 'VS2'] for x in DF.clarity]]
print(DF2.head(6))

0     SI2
1     SI1
2     VS1
3     VS2
4     SI2
5    VVS2
Name: clarity, dtype: object
   carat        cut color clarity  depth  table  price     x     y     z
3   0.29    Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3     58    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8     57    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3     57    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9     55    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1     61    337  3.87  3.78  2.49
    carat        cut color clarity  depth  table  price     x     y     z
3    0.29    Premium     I     VS2   62.4     58    334  4.20  4.23  2.63
8    0.22       Fair     E     VS2   65.1     61    337  3.87  3.78  2.49
21   0.23  Very Good     E     VS2   63.8     55    352  3.85  3.92  2.48
27   0.30  Very Good     J     VS2   62.2     57    357  4.28  4.30  2.67
28   0.23  Very Good     D     VS2   60.5     61    357  3.96  3.97  2.40
38   0.26  Very Good     D     VS2   60.8     59    403  4.13  4.16  2.52

In [ ]:
# filtering rows

In [ ]:
# selecting columns

In [4]:
?pd.read_csv